<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ojs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
        <!-- orchestrator.js main activity -->
        <activity
            android:name="com.ojs.OrchestratorJsActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- NOTICE! CapabilityRootActivity can be used as a parent for developer specified activities -->
        <activity
            android:name="com.ojs.capabilities.CapabilityRootActivity"
            android:label="Root Capability, inherit your own capability of this" >
        </activity>
        
        
        <!-- DEVELOPER DEFINED ACTIVITIES - BEGIN -->
        
        <!-- PlayerCapability -->
        <activity
            android:name="com.ojs.capabilities.playerCapability.PlayerCapabilityActivity"
            android:label="Player" >
        </activity>
        
        <!-- UrlScreenCapability -->
        <activity
            android:name="com.ojs.capabilities.urlScreenCapability.UrlScreenCapabilityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Screen" >
        </activity>

        <!-- DialogCapability -->
        <activity
            android:name="com.ojs.capabilities.dialogCapability.DialogCapabilityActivity"
            android:label="Dialog" >
        </activity>
        
        <!-- TestCapability -->
        <activity
            android:name="com.ojs.capabilities.testCapability.TestCapabilityActivity"
            android:label="This capability is used for testing only" >
        </activity>
        
        
        <!-- DEVELOPER DEFINED ACTIVITIES - END -->
        



		<!-- Setting Activities -->
        <activity
            android:name="com.ojs.settings.GeneralSettingsActivity"
            android:label="@string/pref_header_general" >
        </activity>
        <activity
            android:name="com.ojs.settings.AdvancedSettingsActivity"
            android:label="@string/pref_title_advanced_settings_activity" >
            <intent-filter>
                <action android:name="com.ojs.settings.AdvancedSettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ojs.settings.CapabilitySettingsActivity"
            android:label="Capability Settings" >
            <intent-filter>
                <action android:name="com.ojs.settings.CapabilitySettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
    </application>

</manifest>
